# Default ignored files
/../../../../../../YASMIN~1.BAL/AppData/Local/Temp/Desafios Zup - 2.java6283751455271337691/.idea/shelf/
/../../../../../../YASMIN~1.BAL/AppData/Local/Temp/Desafios Zup - 2.java6283751455271337691/.idea/workspace.xml
